ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav-container {
    display: flex; /* Enables Flexbox layout */
    align-items: center; /* Vertically centers the items in the container */
    background-color: #333; /* Background color */
}
nav {
    display: flex; /* Changes the nav to use Flexbox */
    margin-left: 20px; /* Adds some space between the logo and the nav items */
}

nav a {
    display: block; /* Keeps block display */
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 35px; /* Adjusted for consistency */
}

nav a:hover {
    background-color: #ddd; /* Light grey background on hover */
    color: black; /* Change text color on hover */
    border-radius: 100px;
}

nav a.active {
    background-color: #04AA6D; /* Add a green background to the active/current link */
    color: white;
}

.logo {
    padding: 19px 20px; /* Adjust padding as needed */
    width: 205px; /* Adjust width as needed, or keep 250px if it fits */
    height: auto; /* Maintain aspect ratio */
    border-radius: 130px;
}

.home-title {
    font-size: 95px;
    text-align: center;
}

.subtitle {
    font-size: 35px;
    text-align: center;
}

footer {
    background-color: #333; /* Background color of the footer */
    overflow: hidden; /* Clears floats */
}

footer a {
    display: block; /* Change the links to block elements for easy styling */
    color: white; /* Text color */
    text-align: left; 
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-size: 25px; /* Increase font size */
}


/* Styles for the image container */
.image-container {
    display: grid; /* Enable Flexbox */
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
}
.homepage1{
    width: 100%; 
    height: auto;
    grid-column: auto;
    grid-row: 1;
    border-radius: 100px;
}
.homepage2 {
    width: 100%; 
    height: auto;
    grid-column: auto;
    grid-row: 1;
    border-radius: 100px;
}
figcaption {
    font-size: 35px;
    text-align: center;
}

